<h4>
    <h3>{{list.title}}</h3>
<br>
    {{list.content}}
<br>
<br>
{{#if list.editable}}
  <button class="btn btn-med btn-success" {{action 'editList'}}>Edit!</button>
  <button class="btn btn-med btn-danger"><span class="glyphicon glyphicon-trash"{{action 'deleteList'}}></span></button>
{{/if}}
</h4>
<br>
<hr>
