<h1>Welcome to Design Monster</h1>
{{#link-to 'about' }}<h2>Empowering You To Break Through</h2> {{/link-to}}
<div class="row">
  <div class="col-md-6">
    <a href="#" target="_blank">Click to go somewhere - would like DIVs here, pictures which link to projects we've worked on</a>
  </div>
  <div class="col-md-6">
    <a href="#" target="_blank">Click to go somewhere else - same - SQUARE DIVs</a>
  </div>
</div>
