<h2>ListR</h2>
{{#each model as |list|}}
  {{ideas-list/card list=list
                    editList='editList'
                    deleteList='deleteList'}}

{{/each}}
{{#link-to 'lists/new'}}<button class="btn btn-med btn-danger">Create a New List</button>
{{/link-to}}
{{outlet}}
