<h1>Monster Ideas</h1>
<h3>An open forum for inventors to crowd-source ideas, get feedback, and find perspective investors</h3>
<hr>
<p>*WARNING*  This is an open forum, available to everyone.  NEVER send personal information, proprietary information, or otherwise sensitive information through these posts.  This forum is meant as a way to crowd-source ideas and Design Monster STRONGLY suggests that an idea have a provisional patent filed before it is shared on this or any other site.  Design Mosnter holds no responsibility as the safety and disclosure of anything discussed within these forums. Be Ye Warned.</p>
{{#link-to 'lists/new'}}<button class="btn btn-med btn-primary">Create a New Idea</button>
{{/link-to}}
<hr>
{{#each model as |list|}}
  {{ideas-list/card list=list
                    editList='editList'
                    deleteList='deleteList'}}

{{/each}}

{{outlet}}
