<h1>Monster Resources</h1>
<hr>
<br>
<ul class="list-group">
  <li class="list-group-item">Patent Searching:  <a href="https://patents.google.com/">Google Patents</a> is a nice resource, easily searchable, and convienent to use.</li>
  <li class="list-group-item"><a href="https://www.uspto.gov/">The U.S. Gov Patent Site.</a>  This is Harder to use but MAY be more accurate.  Sometimes.  It's a Government site so...we suggest starting with google and then checking searches against this.</li>
  <li class="list-group-item"><a href="http://alphaloft.org/">Alpha Loft</a> is a great place to make contacts, brainstorm, and meetup.  </li>
</ul>
