<h1>About Us</h1>
<p>Design Monster</p>
{{!-- <ul class="list-group">
  <li class="list-group-item">What We Do</li>
  <li class="list-group-item">Item 2</li>
  <li class="list-group-item">Item 3</li>
  <li class="list-group-item">Item 4</li>
  <li class="list-group-item">Item 5</li>
</ul> --}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">We Are Design Monster</h3>
  </div>
  <div class="panel-body">
    <p>What We Do:</p>
    <li class="list-group-item">We are a product launch and start-up consultancy.  We have the knowledge and the resources to make your ideas into real products.  Our stepped programs offer the flexability to get your products off the ground.  Whether you've got just a sketch, some scribbles or just a notion, we can move you toward the process of bringing your dreams to life.</li>
    <li class="list-group-item">Anything is possible with our network of experts.  From Illustrators and 3d Artists, Web Developers and Graphic Designers, Patent Attorneys and Product Marketers, Engineers and Prototype Designers.  We can offer you short or long term goals with realistic expectations. And these aren't just outside companies we Google and then hire.  We've worked with them throughout the years and we know what they can do.  Design Monster's resources are a network of collaberators and made up of passionate people.</li>
    <li class="list-group-item">We offer product development for all stages.  If one of our packages doesn't quite fit, {{#link-to 'contact'}}CONTACT US{{/link-to}}!  We'll customize a product launch that fits your needs.</li>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Calling All Inventors!</h3>
  </div>
  <div class="panel-body">
    <p>Design Monster Was Founded By Inventors!</p>
    <li class="list-group-item">Individual inventors create revolutionary products.  We know that because we strive to create new and inovative products every day.  With multiple patents in our portfolio, and more pending, we here at Design Monster know that regular people with extraordinary ideas can change the world.  That's what we want for you and that's what we're here for.</li>
    <li class="list-group-item">Your ideas are safe with us.  Non-disclosure agreements are standard here.  We don't want your idea for ourselves, we want to help you to bring it to everyone!  As inventors we know that the process can be overwhelming.  We strive for clarity every step of the way.  Always ask us questions.  Inventors question everything!  That need to ask why shouldn't stop just because you've got your idea down on paper.  We'll give you regular updates and we'll never be out of reach.  In fact, if possible, we reccomend that face-to-face happen on a regular basis.  Your inventions are personal things and you are striving to bring them into thsi world.  The process should be personal too.</li>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Design Monster Does More Than Just Help Inventors.</h3>
  </div>
  <div class="panel-body">
    <p>We Love Entrapenuers.</p>
    <li class="list-group-item">Start-ups are our favorite thing ever!  We offer consulting to help streamline start-ups and really get your business going in the right direction.  It's difficult to be successful.  It's challenging to know how.</li>
    <li class="list-group-item">Start-ups ARE inventions.  You've had an idea.  You know that you can make that idea a success.  You've saved, you've worked really hard, and you've been patient.  Now that idea is taking shape and you're going to go for it!  We've been there.  In fact, launching a business involves many of the same steps as launching a product because it is a product.  It's your product.  </li>
    <li class="list-group-item">Small businesses can thrive.  They can also flounder.  Preperation, clear goals, and experience make the difference.  We are passionate about community based, wonderful start-ups that want to bring energy and ideas to life.</li>
    <li class="list-group-item">If you have, or are thinking about a start-up, {{#link-to 'contact' }}CONTACT US {{/link-to}}.  We would love to hear about it and get involved.  </li>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Thinking About Design Monster?</h3>
  </div>
  <div class="panel-body">
    <p>Here's What We Suggest:</p>
    <li class="list-group-item">Browse our Resources (link to this later) page.  You'll find examples of past projects, along with some of the steps those inventors took when they decided to move forward.  You'll find real people saying real things about what we've done for them.</li>
    <li class="list-group-item">If you decide to go for it, {{#link-to 'contact' }}CONTACT US{{/link-to}}.  Give us a little information about what you're looking for and ask any questions you may have.  We can even meet for coffee.  This will just be an informal, non-specific talk.  Your ideas stay with you until you hire us, but we encourage everyone to have a clear understanding of how the process works.</li>
    <li class="list-group-item">Submit an idea.  After our initial talk we'll sign an NDA(Non-Disclosure-Agreement) and we can start to hash out the specifics of your idea.  The initial flat fee gets you a lot.  We research your idea and compare it to existing products.  We sit down with you and map out a clear, time-boxed plan according to just how much you want to do with it and we lay out costs for every step.  This could include modeling, both computer and real-world, engineering, prototyping, patenting, and anything in between.  It's really up to you.  What do you want to do with your product?</li>
    <li class="list-group-item">Above all, be excited!  Think of all those products out there.  Think of how they were made.  What caused them to be invented in the first place?  Why do they exist?  Imagine a world without filtered water or electricity.  But it doesn't even have to be that big!  Think about regular things, things like clothes hangers or remote controls, dog collars or reusable grocery bags.  All of them, invented.  Patented.  Produced.  Will your idea stay an idea, or will it get made?  It's up to you!  <br>{{#link-to 'contact' }}CONTACT US{{/link-to}}</li>
  </div>
</div>
