<h1>Monster Projects</h1>
<hr>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="http://www.myscreenpeace.com/" target="_blank">
        <img src="/assets/images/screenpeace.jpg" alt="/assets/images/screenpeace.jpg" style="width:100%" style="height:150px">
        <div class="caption">
          <hr>
          <p>Screen Peace</p>
        </div>
    </a>
</div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="https://www.google.com/patents/US8441192" target="_blank">
        <img src="/assets/images/lightbulb.png" alt="/assets/images/lightbulb.png" style="width:100%" style="height:150px">
        <div class="caption">
          <hr>
          <p>LED Tech</p>
        </div>
      </a>
    </div>
  </div>
  {{!-- <div class="col-md-4">
    <div class="thumbnail">
      {{#link-to 'about'}}
        <img src="/w3images/fjords.jpg" alt="Fjords" style="width:100%" style="height:150px">
        <div class="caption">
          <hr>
          <p>Partners</p>
        </div>
      {{/link-to}}
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      {{#link-to 'about'}}
        <img src="/w3images/lights.jpg" alt="Lights" style="width:100%" style="height:150px">
        <div class="caption">
          <hr>
          <p>Screen Peace</p>
        </div>
      {{/link-to}}
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      {{#link-to 'about'}}
        <img src="/w3images/nature.jpg" alt="Nature" style="width:100%" style="height:150px">
        <div class="caption">
          <hr>
          <p>LED Tech</p>
        </div>
      {{/link-to}}
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      {{#link-to 'about'}}
        <img src="/w3images/fjords.jpg" alt="Fjords" style="width:100%" style="height:150px">
        <div class="caption">
          <hr>
          <p>Partners</p>
        </div>
      {{/link-to}}
    </div>
  </div> --}}
</div>
