<form {{action 'save' on='submit'}}>
  {{input placeholder='Idea Title'
          value=list.title}}
  {{input placeholder='Idea Summary'
          value=list.content}}
<button class="btn btn-med btn-warning" type="submit">Save</button>
<button class="btn btn-med btn-warning" {{action 'cancel'}}>Cancel</button>

</form>
