<form {{action 'save' on='submit'}}>

  <label for="inputComments">Idea Title</label>
  {{input class="form-control" placeholder='Idea Title'
          value=list.title}}

  <div class="form-group">
  <label for="inputComments">Summary</label>
  {{textarea cols="80" rows="6" class="form-control" id="inputComments"
    placeholder="Idea Summary" value=list.content}}
</div>
<button class="btn btn-med btn-success" type="submit">Save</button>
<button class="btn btn-med btn-info" {{action 'cancel'}}>Cancel</button>

</form>
